.uw-archive-link-wrapper {
  display: none;
}

.important-dates-tabs {
  display: none;
}

body.org_default .view-uw-view-important-dates-calendar .important-dates-tabs,
body.org_default .view-uw-view-important-dates .important-dates-tabs {
  display: none;
}

.date-nav-wrapper .date-next,
.date-nav-wrapper .date-prev {
  display: none;
}

.date-heading .navigate-calendar {
  display: none;
}

.uw-important-dates-list {
  width: 90%;
}

.uw-important-dates nav {
  display: none;
}

.uw-important-dates-list th a:before,
.uw-important-dates-list th a:after {
  display: none;
}

.important-dates-filters .important-dates-filters__button input {
  display: none;
}

.important-dates-filters-filter select,
.important-dates-filters .important-dates-filters-filter .form-item-search input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
}

button[title="Show/hide revision elements"] {
  display: none;
}

.uw-important-dates-list .pager {
  display: none;
}

.uw-important-dates-list a:active,
.uw-important-dates-list a:link {
  text-decoration: none;
}

.view-uw-view-important-dates table th a::before,
.view-uw-view-important-dates table th a::after,
.view-uw-view-important-dates .pager {
  display:none;
}
