.view-manage-important-dates .paragraphs-item-uw-para-imp-date-details .content .field-name-field-uw-imp-dates-date {
  display: inline-block;
  padding-right: 0.2rem;
}

.view-manage-important-dates .paragraphs-item-uw-para-imp-date-details .content .field-name-field-uw-imp-dates-academic-term {
  display: inline-block;
}

.view-manage-important-dates .paragraphs-item-uw-para-imp-date-details .content .field-name-field-uw-imp-dates-academic-term .field-item:before {
  display: inline-block;
  content: '(';
}

.view-manage-important-dates .paragraphs-item-uw-para-imp-date-details .content .field-name-field-uw-imp-dates-academic-term .field-item:after {
  display: inline-block;
  content: ')';
}

.view-manage-important-dates th.view-field-title {
  width: 12%;
}

.view-manage-important-dates th.views-field-field-uw-imp-dates-academic-year {
  width: 10%;
}

.view-manage-important-dates th.views-field-field-uw-imp-date-details {
  width: 15%;
}

.view-manage-important-dates th.views-field-nid-1 {
  width: 5%;
}

.view-manage-important-dates th.views-field-name {
  width: 8%;
}

.view-manage-important-dates th.views-field-changed {
  width: 9%;
}

.view-manage-important-dates th.views-field-status {
  width: 7%;
}

.view-manage-important-dates th.views-field-nothing {
  width: 18%;
}

.view-manage-important-dates th.views-field-nothing-5 {
  width: 10%;
}
